<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Display item</title>
</head>
<div class="container">
    <body>
    <p>Displaying item...</p>
    <p th:text="'Book id:' + (${bookToShow.id} ?: 'No id')">Book id:</p>
    <p th:text="'Book name:' + ${bookToShow.title}">Book title:</p>
    <p th:text="'Book description:' + ${bookToShow.author}">Book author:</p>
    <p th:text="'Book category:' + ${bookToShow.publishingHouse}">Book publishing House:</p>
    <p th:text="'Book price:' + ${bookToShow.category}">Book category:</p>
    <p th:text="'Book quantity:' + ${bookToShow.description}">Book description:</p>
    <p th:text="'Book picture:' + ${bookToShow.price}">Book price:</p>
    <p th:text="'Book picture:' + ${bookToShow.quantity}">Quantity:</p>
    <br>

    </body>
</div>
</html>
