<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>e-shop</title>
</head>
<body>
<div class="container">
    <h2>Hello in Book Shelves Management</h2>
    <img th:src="@{/images/pobrane.png}" style="width:304px;height:228px"/>
    <table>
        <tbody>
        <p>
            <a th:href="@{/add-book}" href="#">Add book</a>
        </p>
        <p>
            <a th:href="@{/all-books}" href="#">All books</a>
        </p>
        </tbody>
    </table>
</div>
</body>
</html>